input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.ul-wo-bullets {
    list-style-type: none;
}

.default-blue {
    color: #337ab7 !important;
}

ul#widget-choose-height {
    line-height: 30px;
}

.display-widget-list-inline {
    display: inline;
}

.zero-left-margin {
    margin-left: 0px;
}

.zero-right-margin {
    margin-right: 0px;
}

.no-display {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.overlay-using-z-index {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}