input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.ul-wo-bullets {
    list-style-type: none;
}

.default-blue {
    color: #337ab7;
}

ul#widget-choose-height {
    line-height: 30px;
}