#searchList li a {
    color: black;
    text-decoration: none;
}

#searchList li:hover a {
    color: #63d297;
}

#followDiv a {
    color: #63d297;
}

#followDiv a:hover {
    color: darkblue;
}