<div class="row">
    <div class="col-xs-6 ">
        <a href="http://www.dowrycalculator.com/">
        <img class ="center-block image-css"
             src="https://s-media-cache-ak0.pinimg.com/564x/d7/f0/95/d7f095b91d57ddecee3a2da63b96ffcc.jpg">
        </a>
    </div>
    <div class="col-xs-6">
        <a href="#female">
            <img class ="image-css center-block "
                 src="https://s-media-cache-ak0.pinimg.com/564x/99/43/52/9943521fbf8d588e79489a075841742b.jpg">
        </a>
    </div>
</div>
<br/>
<br/>
<h2 style="text-align: center;">Select your <mark>Gender</mark></h2>

