<nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
        <div class = "col-xs-1 hidden-xs">
            <div class = "navbar-header">
                <p class = "navbar-text">
                    <a href = "../website/website-list.view.client.html" class = "navbar-link">
                        <span class = "glyphicon glyphicon-chevron-left glyphiconBackProperties default-blue"></span></a>
                </p>
            </div>
        </div>
        <div class = "col-xs-10">
            <div class = "navbar-header">
                <a class = "navbar-brand default-blue" href = "#">
                    Pages
                </a>
            </div>
        </div>
        <div class = "col-xs-1">
            <div class = "navbar-header hidden-xs">
                <p class = "navbar-text">
                    <a href = "page-new.view.client.html" class = "navbar-link">
                        <span class = "glyphicon glyphicon-plus glyphiconPlusProperties default-blue"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class = "container-fluid">
    <ul class = "list-group">
        <li ng-repeat = "page in model.pages" class = "list-group-item">
            <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                <span class = "glyphicon glyphicon-cog pull-right icon-links"></span>
            </a>
        </li>
    </ul>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
        <p class = "navbar-text pull-right">
            <a href = "../user/profile.view.client.html" class = "navbar-link">
                <span class = "glyphicon glyphicon-user glyphiconUserProperties default-blue">
                </span>
            </a>
        </p>
    </div>
</nav>