<nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "row container-fluid">
        <div class = "col-sm-4 hidden-xs">
            <div class = "navbar-text pull-left zero-left-margin">
                <a class = "navbar-link" href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class = "glyphicon glyphicon-chevron-left glyphiconBackProperties default-blue">
                    </span>
                </a>
            </div>
            <div class = "navbar-header">
                <a class = "navbar-brand default-blue"
                   href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    Pages
                </a>
            </div>
        </div>
        <!-- Commented this line since vdivide is dropped in BootStrap3, if you uncomment it change the col-xs-8 to col-xs-7 -->
        <!-- <div class="col-sm-8 vdivide hidden-xs"></div> -->
        <div class = "col-sm-8">
            <div class = "visible-xs navbar-text pull-left zero-left-margin">
                <a class = "navbar-link" href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class = "glyphicon glyphicon-chevron-left glyphiconBackProperties default-blue"></span>
                </a>
            </div>
            <div class = "navbar-text pull-right zero-right-margin">
                <a ng-click = "model.updatePage()">
                    <span class = "glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class = "navbar-header">
                <a class = "navbar-brand default-blue"
                   href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                    Edit Page
                </a>
            </div>
        </div>
    </div>
</nav>
<div class = "container-fluid">
    <div class = "row">
        <div class="col-sm-4 hidden-xs v-scroll-left-half-page">
            <ul class = "list-group">
                <li ng-repeat = "page in model.pages" class = "list-group-item clearfix">
                    <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        {{page.name}}
                    </a>
                    <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                        <span class = "glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class = "col-sm-8 pull-right">
            <div ng-show = "model.error" class = "alert alert-danger" role = "alert">
                ERROR: {{model.error}}
            </div>
            <form>
                <div class = "form-group">
                    <label for = "page-name">Name</label>
                    <input type = "text" ng-model = "model.page.name" class = "form-control" id = "page-name"
                           placeholder = "Page name" value = "Blog post">
                </div>
                <div class = "form-group">
                    <label for = "page-title">Title</label>
                    <input type = "text" ng-model = "model.page.title" class = "form-control" id = "page-title"
                           placeholder = "Page title">
                </div>
            </form>
            <a class = "btn btn-danger btn-block"
               ng-click = "model.deletePage();">Delete</a>
        </div>
    </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
        <a class = "navbar-link pull-right" href = "#/user/{{model.userId}}">
            <span class = "glyphicon glyphicon-user glyphiconUserProperties default-blue">
            </span>
        </a>
    </div>
</nav>