<nav class = "navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties default-blue">
					</span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand default-blue" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    Pages
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties default-blue"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.createPage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok default-blue"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-4 hidden-xs">
            <ul class = "list-group">
                <li ng-repeat = "page in model.pages" class = "list-group-item">
                    <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class = "glyphicon glyphicon-cog pull-right icon-links"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class = "col-sm-8">
            <form>
                <div class = "form-group">
                    <label for = "page-name">Name</label>
                    <input type = "text" ng-model = "model.page.name" class = "form-control" id = "page-name"
                           placeholder = "Page name" value = "Blog post">
                </div>
                <div class = "form-group">
                    <label for = "page-title">Title</label>
                    <input type = "text" ng-model = "model.page.title" class = "form-control" id = "page-title"
                           placeholder = "Page title">
                </div>
            </form>
        </div>
    </div>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container-fluid">
        <a class = "navbar-link pull-right" href = "#/user/{{model.userId}}">
            <span class = "glyphicon glyphicon-user glyphiconUserProperties default-blue">
            </span>
        </a>
    </div>
</nav>