


<nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
        <a class = "navbar-brand default-blue"  href="#/user/{{model.user._id}}">
	        Profile
        </a>

        <a class = "navbar-link pull-right">
            <span class = "glyphicon glyphicon-ok glyphiconOkProperties default-blue">
			</span>
        </a>
	</div>
</nav>
<div class = "container">
    <div ng-show = "model.error" class = "alert alert-danger" role = "alert">
        ERROR: {{model.error}}
    </div>
    <div ng-show = "model.success" class = "alert alert-success" role = "alert">
        {{model.success}}
    </div>
    <form>
        <div class = "form-group">
            <label for = "username">Username</label>
            <input ng-model = "model.user.username" type = "text" class = "form-control" id = "username"
                   placeholder = "Enter a Username">
        </div>
        <div class = "form-group">
            <label for = "email">Email address</label>
            <input ng-model = "model.user.email" type = "email" class = "form-control" id = "email"
                   placeholder = "Enter your E-mail">
        </div>
        <div class = "form-group">
            <label for = "first-name">First Name</label>
            <input ng-model = "model.user.firstName" type = "text" class = "form-control" id = "first-name"
                   placeholder = "Enter your First Name">
        </div>
        <div class = "form-group">
            <label for = "last-name">Last Name</label>
            <input ng-model = "model.user.lastName" type = "text" class = "form-control" id = "last-name"
                   placeholder = "Enter your Last name">
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href = "#/user/{{model.user._id}}/website">Websites</a>
    <a class = "btn btn-danger btn-block"
       href = "#/login">Logout</a>
</div>
<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>