<div class = "container">
    <h1>Register</h1>
    <div ng-show = "model.error" class = "alert alert-danger" role = "alert">
        ERROR: {{model.error}}
    </div>
    <input ng-model = "model.user.username" type = "text" class = "form-control" placeholder = "Enter your Username"/>
    <input ng-model = "model.user.password" type = "password" class = "form-control" placeholder = "Enter a Password"/>
    <input ng-model = "model.user.confirmPassword" type = "password" class = "form-control"
           placeholder = "Re-enter the same Password"/>
    <a class = "btn btn-success btn-block"
       ng-click = "model.register(model.user);">
        Register
    </a>
    <a class = "btn btn-danger  btn-block"
       href = "#/login">
        Cancel
    </a>
</div>