<nav class = "navbar navbar-default navbar-fixed-bottom"
     style = "max-height: 50px; min-height: 50px; background-color: grey; z-index: 1">
    <div class = "container-fluid">
        <!--Tips:- Google Developers Tool has bug, resize actual chrome browser to test this-->
        <div class = "row">
            <div class = "col-md-2 hidden-sm hideOverflow">
            </div>
            <div class = "col-md-2 col-sm-3" style = "margin: 2px;margin-color: grey;
            padding-top: 10px;background-color: #ebebeb; max-height: 50px; min-height: 50px;">
                <div >
                    <div>
                        <!--TODO: Change this format - make it presentable-->
                        <label class="label label-default"
                               style = "background-color: inherit; width: inherit !important; font-size: 15px; word-wrap: break-word;
                               color: black; font-family: 'Roboto', sans-serif;">
                            {{ model.clock.time | date:'longDate'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class = "col-md-2 col-sm-3" style = "margin: 2px;margin-color: grey;
            padding-top: 10px;background-color: #ebebeb; max-height: 50px; min-height: 50px;">
                <div >
                    <div>
                        <!--TODO: Change this format - make it presentable-->
                        <label class="label label-default"
                               style = "background-color: inherit; width: inherit !important; font-size: 15px; word-wrap: break-word;
                               color: black; font-family: 'Roboto', sans-serif;">
                            <span
                                    class = "glyphicon glyphicon-map-marker pull-left" aria-hidden = "true"></span>
                            {{ model.weather.city }}
                        </label>
                    </div>
                </div>
            </div>
            <div class = "col-md-2 col-sm-3" style = "margin: 2px;margin-color: grey;background-color: #ebebeb; max-height: 50px; min-height: 50px;">
                    <img src = "{{ model.weather.image }}" alt = "{{model.weather.city}}'s Weather"/>
                    <small>
                    {{model.weather.degreesFahrenheit}}&#8457; to {{model.weather.feelsLikeDegreesFahrenheit}} &#8457;
                    </small>
            </div>
            <div class = "col-md-2 col-sm-3" style = "margin: 2px;margin-color: grey;
            padding-top: 10px;background-color: #ebebeb; max-height: 50px; min-height: 50px;">
                <label class="label label-default pull-left"
                       style = "background-color: inherit; width: inherit !important; font-size: 15px; word-wrap: break-word;
                               color: black; font-family: 'Roboto', sans-serif;">
                    {{ model.sensex.stock.name }} ({{model.sensex.stock.latestPrice}})
                </label>
                <div ng-show="model.sensex.stock.change >= 0">
                    <span style="color: green"
                            class = "glyphicon glyphicon-arrow-up pull-right" aria-hidden = "true"></span>

                </div>
                <div ng-show="model.sensex.stock.change < 0">
                    <span style="color: red"
                            class = "glyphicon glyphicon-arrow-down pull-right" aria-hidden = "true"></span>

                </div>
            </div>
            <div class = "col-md-2 hidden-sm hideOverflow"></div>
        </div>
    </div>
</nav>