<div class = "overlay"></div>
<!--TODOs:- -->
<!--Romil - Beautification remaining-->
<!--a. Colors on homepage-->
<!--b. Icons for site-->
<!--c. Shadow for Footer-->
<!-- Sidebar -->
<nav class = "navbar navbar-inverse navbar-fixed-top" id = "sidebar-wrapper" role = "navigation">
    <!--TODO- Create directive to stop the drop down from closing on click-->
    <ul class = "nav sidebar-nav">
        <li class = "sidebar-brand">
            <a href = "" id = "category-header">
                OPTIONS
            </a>
        </li>
        <!--Tips - Using username since $root.user is defined as soon as profile is displayed since the
        Text box fields are bound to it.-->
        <li ng-show = "$root.user.username" id = "sidebar-image">
            <!--Tips:- ng-src requires {{}}-->
            <img style = "height: 100px;" class = "thumbnail profile-photo" src = "/project/images/profile-image.png"
                 alt = "" ng-show = "!$root.user.imgUrl">
            <img style = "height: 100px;" class = "thumbnail profile-photo" ng-src = "{{ $root.user.imgUrl }}" alt = ""
                 ng-show = "$root.user.imgUrl">
            <a href = ""><i class = "glyphicon glyphicon-user"></i>&nbsp; {{ $root.user.username }}</as></a>
        </li>
        <li>
            <a href = "#/profile"><i class = "fa fa-cog"></i>&nbsp; Edit Profile</a>
        </li>
        <li>
            <a href = "#/profile/likes"><i class = "fa fa-thumbs-o-up"></i>&nbsp; Likes</a>
        </li>
        <li>
            <a href = "#/followers"><i class = "fa fa-users"></i>&nbsp; Followers</a>
        </li>
        <li>
            <a href = "#/followers"><i class = "fa fa-users"></i>&nbsp; Following</a>
        </li>
    </ul>
</nav>