<div id = "wrapper" style = "z-index: 1000;">
    <!--Sidebar-->
    <div ng-include = "'views/sidebar.include.client.html'"></div>
    <!-- Page Content -->
    <div id = "page-content-wrapper" style="background-color: black" >
        <!--Top Bar-->
        <div ng-include = "'views/header.include.client.html'"></div>
        <!--Tips: $scope's replacement is model - see model.hambuergerClick()-->
        <button type = "button" class = "hamburger is-closed animated fadeInLeft" data-toggle = "offcanvas"
                ng-click = "model.hamburgerClick()">
            <span class = "hamb-top"></span>
            <span class = "hamb-middle"></span>
            <span class = "hamb-bottom"></span>
        </button>
    </div>
        <!--Tips - For login and sign up-->
        <div ng-include = "'views/login.include.client.html'"></div>
        <!--Tips- Difference between pages - Start-->
        <div id="jai">
            <!--TODO - add border shade-->
            <ul ng-repeat = "story in model.topStories" style = "list-style: none;">
                <li>
                    <div class = "card" style = "background-color: white; margin-right: 15px">
                        <div class = "row">
                            <div class = " col-sm-4 col-md-2">
                                <img style = "width: 100%;"
                                     ng-src  = "{{story.multimedia[1].url? story.multimedia[1].url : model.empty}}"
                                     alt = "Card image cap">
                            </div>
                            <div class = " col-sm-8 col-md-10">
                                <h6>
                                    <a href = "{{ story.url }}" style = "color: black;">{{ story.title }}</a>
                                </h6>
                                <p style = "color: black;"> {{ story.abstract }}</p>
                                <div>
                                    <div class = "pull-left">
                                         {{story.byline}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--Tips- Difference between pages - End-->
    </div>
</div>
<!--Footer-->
<div ng-include = "'views/footer.include.client.html'"></div>
